*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --hue-neutral: 300;
  --hue-wrong: 0;
  --hue-correct: 145;
}
body {
  --hue: var(--hue-neutral);
  background-color: hsl(var(--hue), 60%, 30%);
  width: 100vw;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: darkblue;
  text-align: center;
  font-size: 1.25em;
}
div {
  margin-block: 6px;
  border-top: 1px solid black;
}
button {
  margin-top: 10px;
}
body.correct {
  --hue: var(var(--hue-correct));
}
body.wrong {
  --hue: var(var(--hue-wrong));
}
.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px 5px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}
.button {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 70%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.button:hover {
  border-color: black;
}

.button.correct {
  --hue: var(--hue-correct);
  color: black;
}
.button.wrong {
  --hue: var(--hue-wrong);
}

.startButton,
.nextButton {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
input {
  margin-top: 15px;
}
